<footer class="footer">
  <div class="f-info">

    <!-- Links -->
    <div class="f-info-links"> 
      <a href="/">Privacy</a> 
      <a href="/">Terms</a>
    </div>

    <!-- Brand -->
    <div class="f-info-brand">
      © 2026 WanderList pvt Ltd.
    </div>

    <!-- Social -->
    <div class="f-info-socials">
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
    </div>

  </div>
</footer>